h1 {
  font-family: "Sedan SC", serif;
  color: #FFFFFF;
  text-align: center;
  font-size: 50px;
  padding-top: 20px;
}


.hero-img {
  height: 100%;
  object-fit: cover; 
  justify-content: flex-start;
}

.tunel{
    width: 400px;           /* tamanho da imagem */
    height: auto;
    border-radius: 5px;
    margin: 20px auto;
    padding-left: 50px;
    padding-right: 20px;
    padding-block-end: 20px;
}



.abobora{

    height: 227px ;
    width: 354px ;
    border-radius: 5px;
    margin: 20px auto ;
    padding-left: 20px;
    padding-right: 50px;
    

}
h2{

    font-family: "DM", serif;
    width: 90%;                  
    margin: 20px auto;           
    background-color: rgba(26, 52, 118, 0.5);   
    color: #FFFFFF;                
    padding: 2px 0;             /* afasta o texto da borda superior/inferior */
    text-align: center;          
    font-size: 30px;                     
    border: 2px solid #FFFFFF;   /* borda clara */

}

h3{
  font-family: "Sedan SC", serif;
  color: #FFFFFF;
  font-size: 80px;

}
p{
  color: #FFFFFF;
  font-family: "Barlow";
  font-size: 20px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  


}
.logo-img{
  max-height: 400px;   
  width: 100%;         
  height: auto;        
  object-fit: contain; 
}

body{
   background: linear-gradient(to bottom, #1E0707, #611B1B);
}



.hero-img {
  height: 100%;
  object-fit: cover; /* mantém o enquadramento bonito */
}


.back-text{

    margin-bottom: 600px;
    margin-left: 50px;

    text-align: left;

}


.backimg{
    background: url("../../img/starcout.png") center/cover no-repeat;
    height: 75vh;
    width: 100%;

}


footer{
    padding-top: 50px;
    width: 100%;
}
