body{
   background: linear-gradient(to bottom, #1E0707, #611B1B);
   margin: 0;
   padding: 0;
}

h1 {
  font-family: "Sedan SC", serif;
  color: #FFFFFF;
  text-align: center;
  font-size: 64px;
  padding-top: 20px;
}

.title-box{
     margin: 30px 0 10px 0;

}

h2{

    font-family: "DM", serif;
    width: 90%;                  
    margin: 20px auto;           
    background-color: rgba(26, 52, 118, 0.5);   
    color: #FFFFFF;        
    padding-left: 50px;
   padding-right: 50px;        
    padding: 2px 0;             /* afasta o texto da borda superior/inferior */
    text-align: center;          
    font-size: 48px;                     
    border: 2px solid #FFFFFF;   /* borda clara */

}

h3{
  font-family: "Sedan SC", serif;
  color: #FFFFFF;
  font-size: 64px;
  padding-right: 50px;
  padding-left: 50px;

}

.hero-img {
  height: 100%;
  object-fit: cover; 
  justify-content: flex-start;
}

.tunel{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-top: 20px;
       width: 350px;        /* tamanho controlado */
    height: auto;
    border-radius: 10px;
    padding-left: 100px;
}



.abobora{

    
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 10px;
    padding-right: 100px;

}


p{
  color: #FFFFFF;
  font-family: "Barlow";
  font-size: 36px;
  padding-left: 150px;
  padding-right: 60px;
  margin: 20px auto;

}
.logo-img{
  max-height: 400px;   
  width: 100%;         
  height: auto;        
  object-fit: contain; 
}






.back-text{

    margin-bottom: 600px;
    margin-left: 50px;
    text-align: left;

}


.backimg{
    background: url("../../img/starcout.png") center/cover no-repeat;
    height: 75vh;
    width: 100%;

}

