body{
    background-color:rgb(255, 255, 255) ;
}

.card-caua .card {
  border-radius: 12px;
  box-shadow:
    0 8px 20px rgba(0,0,0,0.35),
    0 20px 40px rgba(0,0,0,0.45);
  transition: transform 0.28s ease, box-shadow 0.28s ease;
  overflow: visible;
  position: relative;
    
}

.card-caua .card:hover {
  transform: translateY(-10px);
  box-shadow:
    0 14px 30px rgba(0,0,0,0.45),
    0 30px 60px rgba(0,0,0,0.6);
  z-index: 5; /* traz o card pra frente*/
}

.card-caua .card .card-img-top {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  height: 220px;        
  object-fit: cover;    
  width: 100%;
 
}

.card-caua {
  overflow: visible;
}

h1,h2,h3 {
  font-family: "Sedan SC", serif;
  color: #000000;
}