h1,h2,h3 {
  font-family: "Sedan SC", serif;
  color: #ff1515;
}
.logo-img{
  max-height: 400px;   /* limita a altura máxima */
  width: 100%;         /* ocupa toda a largura disponível */
  height: auto;        /* ajusta a altura automaticamente */
  object-fit: contain; /* mantém toda a imagem visível (sem cortes) */
}
body{
   background: linear-gradient(to bottom, #1E0707, #611B1B);
}
.banner-img {
  height: 650px;        /* altura que você quiser (ex: 400px, 300px, etc.) */
  object-fit: cover;    /* corta a imagem mantendo proporção */
  object-position: center; /* centraliza o recorte */
}
#crp .carousel-item {
  height: 600px; /* Altura fixa do carrossel */
}

#crp .carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: contain; /* ou 'cover', dependendo do efeito que quiser */
  display: block;
  margin: 0 auto;
}
.card-img-top {
  height: 250px;           /* altura fixa desejada */
  object-fit: cover;       /* corta a imagem mantendo o foco central */
  width: 100%;             /* garante que preencha a largura do card */
}
.cards-wrapper{
    display: flex;
    justify-content: space-evenly;
}
.arrow{
    border-radius: 50%;
    padding: 10px;
}
.galeria{
  margin-top: 100px;
  margin-bottom: 100px;
}
.limite-img{
  max-width: 300px;
  max-height: 400px;
  width: auto;
  height: auto;
   object-fit: contain;
}
.meu-card {
  background-color: #df0a0aa1; /* cor de fundo personalizada */
  color: #000000; /* cor do texto */
  font-family: 'Barlow', sans-serif;
}

footer{
    width: 100%;
}
