  body {
    background: linear-gradient(to bottom, #FFFFFF, #999999);
    margin: 0;
    padding: 0;
  }

  .footer-text{
    color: #FFFFFF;
    text-align: center;
  }


  h1 {
    font-family: "Sedan SC", serif;
    color: #000000;
    padding-top: 20px;
    margin: 40px;
    font-size: 3rem;

  }



  p{
  color: #000000;
  font-family: "Barlow";
  font-size: 1.8rem;
}

  .location-block {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #ffffff;
    margin: 40px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.15);
  }

  .location-block img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    border: 5px solid #ffffff;
    outline: 30px solid #000;
  }

  .text-box {
    padding-left: 50px;
    width: 100%;
    height: 180px;
    border-radius: 15px;
  }