
.hawkins-card {
    background-image: url(../../img/papel-sangue.jpeg);
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 10px;
    min-height: 500px;
    border: 2px solid #3a2d2d;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
    font-family: "Courier New", monospace;
    color: #1a1a1a;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Ajustes de espaçamento interno */
.hawkins-card p,
.hawkins-card h5 {
    margin-bottom: 10px;
}

/* Título com estilo "sangue" */
.hawkins-card h5 {
    color: #5a0000;
    text-shadow: 1px 1px 3px #000;
}

/* Conteúdo do card ocupa espaço e empurra o botão */
.card-content {
    flex: 1;
}

/* Texto mais forte e escuro */
.card {
    color: #1a1a1a;
    font-size: 18px;
    font-weight: 700;
}


.btn-custom {
    background-color: #fff !important;   /* botão branco */
    border-color: #fff !important;
    color: #b00000 !important;           /* texto vermelho escuro */
    font-weight: 700;
}

.btn-custom:hover {
    background-color: #e6e6e6 !important;
}