h1,h2,h3 {
  font-family: "Sedan SC", serif;
  color: #ff1515;
}
.logo-img{
  max-height: 400px;   
  width: 100%;         
  height: auto;        
  object-fit: contain; 
}
body{
   background: linear-gradient(to bottom, #1E0707, #611B1B);
}
.banner-img {
  height: 650px;        
  object-fit: cover;    
  object-position: center; 
  width: 100%;
}
#crp .carousel-item {
  height: 600px; 
}

#crp .carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: contain; 
  display: block;
  margin: 0 auto;
}
.card-img-top {
  height: 250px;          
  object-fit: cover;       
  width: 100%;             
}
.cards-wrapper{
    display: flex;
    justify-content: space-evenly;
}
.arrow{
    border-radius: 50%;
    padding: 10px;
}
.galeria{
  margin-top: 100px;
  margin-bottom: 100px;
}
.limite-img{
  max-width: 300px;
  max-height: 400px;
  width: auto;
  height: auto;
   object-fit: contain;
}
.meu-card {
  background-color: #df0a0aa1; 
  color: #000000; 
  font-family: 'Barlow', sans-serif;
}

footer{
    width: 100%;
}
